body {
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    line-height: 26px;
}

p {
    text-indent: 2em;
}

img {
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h4 {
    text-indent: 2em;
}

.pic {
    text-align: center;
}